@model List<Notification>
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery AntiForgery

@{
    var token = AntiForgery.GetAndStoreTokens(Context).RequestToken;
}

<input type="hidden" name="__RequestVerificationToken" value="@token" />

@if (Model.Any())
{
    foreach (var notification in Model)
    {
        <hr/>
        <div class="notification-item @(notification.IsRead ? "read" : "unread")">
            <p>@notification.Message</p>
            <div style="display:inline-flex; align-items: center; width: 100%; justify-content: space-between;">
                <small style="display: block;">@notification.CreatedAt.ToString("MMM dd, yyyy HH:mm")</small>
                <button class="delete-notification" data-id="@notification.Id" style="border: none; background: transparent; color: palevioletred;">
                    <small>Usuń</small>
                </button>
            </div>
        </div>
    }
}
else
{
    <p>No notifications available.</p>
}